/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,700i,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
}

.container {
     max-width: 1170px;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: 'Lato', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
}


/*font-family: 'Roboto', sans-serif;*/

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px;
}

h2 {
     font-size: 22px;
}

h3 {
     font-size: 18px;
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 0px;
     font-weight: 500;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}


/**-- heading section --**/


/*---------------------------- preloader area ----------------------------*/

.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader img {
     width: 280px;
}


/*-- header --*/

.top_section {
     width: 100%;
     padding: 34px 30px;
     position: absolute;
     z-index: 888;
}

.header {
     padding: 40px 16px;
     background: #11dd22;
     color: #f1f1f1;
     width: 100%;
     z-index: 9999999;
     height: 107px;
}

.content {
     padding: 16px;
}

.sticky {
     position: fixed;
     top: 0;
     width: 100%;
}

.sticky+.content {
     padding-top: 102px;
}

.header_bottom {
     background-color: #183661;
}

.navigation.navbar {
     float: left;
     padding: 0;
     padding-top: 4px;
}

.navigation.navbar-dark .navbar-nav .nav-link {
     padding: 0px 29px;
     color: #ffffff;
     font-size: 17px;
     line-height: 20px;
     font-weight: 400;
}

.navigation.navbar-dark .navbar-nav .nav-link:focus,
.navigation.navbar-dark .navbar-nav .nav-link:hover {
     color: #fbc50a;
}

.navigation.navbar-dark .navbar-nav .active>.nav-link,
.navigation.navbar-dark .navbar-nav .nav-link.active,
.navigation.navbar-dark .navbar-nav .nav-link.show,
.navigation.navbar-dark .navbar-nav .show>.nav-link {
     color: #fbc50a;
}

.sealo ul li {
     display: inline-block;
}

.sealo ul li a {
     color: #fff;
     font-size: 17px;
     padding-right: 89px;
}

.sealo ul li:last-child a {
     padding-right: 0;
}

.di_no {
     display: none;
}


/** end header **/


/** banner section **/

.full_bg {
     background: url(../images/banner1.jpg);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     height: 100vh;
}


/** end banner section **/

.titlepage {
     text-align: center;
     padding-bottom: 60px;
}

.titlepage h2 {
     font-size: 50px;
     color: #fff;
     line-height: 55px;
     font-weight: bold;
     padding: 0;
     display: inline-block;
}

.d_flex {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}

.read_more {
     font-size: 17px;
     background-color: #111111;
     color: #fff;
     padding: 13px 0px;
     width: 100%;
     max-width: 245px;
     text-align: center;
     display: inline-block;
     transition: ease-in all 0.5s;
     font-weight: bold;
     height: 62px;
}

.read_more:hover {
     background: #de0000;
     color: #fff;
     transition: ease-in all 0.5s;
}

.text_align_left {
     text-align: left;
}

.text_align_right {
     text-align: right;
}

.text_align_center {
     text-align: center;
}


/** about section **/

.about {
     background: url(../images/about_bg.jpg);
     background-size: 100% 100%;
     background-position: center;
     background-repeat: no-repeat;
     padding-top: 90px;
     position: relative;
}

.about .titlepage h2 {
     background: #021626;
     padding: 15px 55px;
}

.about_img p {
     font-weight: 400;
     font-size: 17px;
     line-height: 30px;
     color: #1b1b1c;
     padding: 45px 0px;
}

.about_img figure {
     margin: 0;
}

.about_img figure img {
     width: 100%;
     box-shadow: 0 0 49px rgba(22, 22, 23, 0.52);
}

.about .read_more {
     margin: 0 auto;
     display: block;
}


/** end about section **/


/** couple **/

.couple {
     background: #021626;
     padding-bottom: 80px;
     padding-top: 80px;
     margin-top: 80px;
}

.couple .titlepage {
     max-width: 667px;
     width: 100%;
     float: right;
     padding-bottom: 0;
}

.couple .titlepage span {
     color: #fff;
     font-size: 25px;
     line-height: 25px;
     padding-bottom: 10px;
     display: block;
}

.couple .titlepage h2 {
     color: #fff;
     display: block;
}

.couple .titlepage p {
     font-weight: 400;
     font-size: 17px;
     line-height: 30px;
     color: #fff;
     padding: 45px 0px;
}

.whitebg {
     color: #000000;
     background: #fff;
}

.doi {
     text-align: center;
}

.doi figure {
     margin: 0;
}

.doi figure img {
     max-width: 100%;
}


/** end couple **/


/** gallery **/

.gallery {
     background: url(../images/gallery_bg.jpg);
     background-size: 100% 100%;
     background-repeat: no-repeat;
     background-position: center;
     padding-top: 90px;
     padding-bottom: 90px;
}

.gallery .titlepage h2 {
     background: url(../images/gajpg.jpg);
     background-size: 100% 100%;
     background-repeat: no-repeat;
     background-position: center;
     padding: 15px 55px;
}

.view_main {
     position: absolute;
     background-color: #1c303fcf;
     top: 0;
     height: 100%;
     left: 15px;
     right: 15px;
     overflow: hidden;
     display: flex;
     justify-content: center;
     align-items: center;
     opacity: 0;
     transition: ease-in all 0.5s;
}

.view_main:hover {
     opacity: 1;
     transition: ease-in all 0.5s;
}

.view_main2 {
     position: absolute;
     background-color: #252525c9;
     top: 0;
     height: 60%;
     left: 15px;
     right: 15px;
     overflow: hidden;
     display: flex;
     justify-content: center;
     align-items: center;
     opacity: 0;
     transition: ease-in all 0.5s;
}

.view_main2:hover {
     opacity: 1;
     transition: ease-in all 0.5s;
}

.tz-gallery .lightbox img {
     width: 100%;
     border-radius: 0;
     position: relative;
}

.ma_bottom30 {
     margin-bottom: 30px;
}

.tz-gallery .lightbox h3 {
     position: absolute;
     top: 53px;
     left: 0;
     color: #fff;
     font-size: 25px;
     font-weight: bold;
     z-index: 9000;
     right: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: ease-in all 0.5s;
}

.tz-gallery .lightbox .view_btn {
     position: absolute;
     top: 46%;
     left: 0;
     color: #000;
     font-size: 22px;
     z-index: 9000;
     right: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     bottom: 0;
     margin: 0 auto;
     width: 56px;
     height: 56px;
     border-radius: 60px;
     background-color: #fff;
     transition: ease-in all 0.5s;
}

.tz-gallery p {
     color: #414040;
     font-weight: 400;
     font-size: 17px;
     line-height: 30px;
     padding-top: 50px;
}


/** end gallery **/


/** contact **/

.contact {
     background: #021626;
     padding-bottom: 40px;
     padding-top: 78px;
}

.main_form {
     max-width: 554px;
     width: 100%;
     float: left;
}

.mapimg figure {
     margin: 0;
}

.mapimg figure img {
     width: 100%;
}

label {
     color: #fff;
     font-size: 17px;
     margin-bottom: 20px;
     line-height: 18px;
     font-weight: 600;
}

.main_form .contactus {
     padding: 0px 10px;
     margin-bottom: 20px;
     width: 100%;
     height: 50px;
     background: #fff;
     color: #021626;
     font-size: 17px;
     font-weight: normal;
     border: inherit;
}

.main_form .textarea {
     margin-bottom: 20px;
     width: 100%;
     background: #fff;
     color: #021626;
     font-size: 17px;
     font-weight: normal;
     padding: 12px 15px 10px 15px;
     border: inherit;
     height: 155px;
}

.main_form .send_btn {
     font-size: 18px;
     transition: ease-in all 0.5s;
     background-color: #fff;
     text-transform: uppercase;
     color: #de0000;
     max-width: 193px;
     width: 100%;
     display: block;
     margin-top: 10px !important;
     font-weight: bold;
     height: 53px;
     float: right;
     padding: 11px 0;
}

.main_form .send_btn:hover {
     background-color: #de0000;
     transition: ease-in all 0.5s;
     color: #fff;
}

#request *::placeholder {
     color: #021626;
     opacity: 1;
}


/** end contact **/


/** footer **/

.footer {
     background: #021626;
     text-align: center;
}

.border_bo1 {
     border-top: #606060 solid 1px;
     padding-top: 80px;
}

.logof {
     text-align: left;
     display: block;
}


/*subscribe*/

.form_subscri h3 {
     color: #ffffff;
     font-size: 17px;
     text-align: left;
     font-weight: 600;
     padding: 20px 0 2px 0;
}

.subsrib {
     margin-bottom: 20px;
     width: 100%;
     height: 40px;
     background: transparent;
     color: #ffffff;
     font-size: 14px;
     font-weight: normal;
     border: inherit;
     border-bottom: #fff solid 1px;
}

.subsci_btn {
     font-size: 14px;
     transition: ease-in all 0.5s;
     background-color: #fff;
     text-transform: uppercase;
     color: #de0000;
     max-width: 98px;
     width: 100%;
     display: block;
     font-weight: 500;
     height: 22px;
     float: right;
     line-height: 14px;
}

.subsci_btn:hover {
     background-color: #de0000;
     transition: ease-in all 0.5s;
     color: #fff;
}


/* end subscribe*/

.form_subscri {
     margin-right: 31px;
}

.infoma {
     margin-top: 50px;
     display: block;
}

.infoma h3 {
     text-align: left;
     font-weight: bold;
     font-size: 17px;
     line-height: 24px;
     color: #fff;
     padding-bottom: 10px;
}

.infoma ul li {
     color: #bebbbb;
     font-size: 14px;
     text-align: left;
     line-height: 35px;
}

ul.conta {
     padding-top: 12px;
}

ul.conta li {
     color: #bebbbb;
     text-align: left;
     padding-bottom: 15px;
     font-size: 14px;
     line-height: 18px;
     display: flex;
     align-items: center;
}

ul.conta li:last-child {
     padding-right: 0;
}

ul.conta li i {
     padding-right: 15px;
     text-align: center;
     font-size: 21px;
     color: #bebbbb;
}

ul.conta li a {
     color: #bebbbb;
}

ul.social_icon {
     float: left;
     padding-top: 13px;
}

ul.social_icon li {
     display: inline-block;
     margin: 0 2px;
}

ul.social_icon li a i {
     background: #bebbbb;
     width: 33px;
     height: 33px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 23px;
     border-radius: 20px;
     color: #021626;
     transition: ease-in all 0.5s;
}

ul.social_icon li a i:hover {
     color: #fff;
     background: #de0000;
     transition: ease-in all 0.5s;
}

.copyright {
     margin-top: 70px;
     padding-bottom: 20px;
     border-right: inherit;
     border-left: inherit;
}

.copyright p {
     color: #fff;
     font-size: 18px;
     line-height: 22px;
     text-align: center;
     padding-top: 25px;
     border-top: #606060 solid 1px;
     font-weight: normal;
}

.copyright a {
     color: #fff;
}

.copyright a:hover {
     color: #de0000;
}


/** end footer **/



.slider_main {
     padding-top: 17%;
}

.carousel-indicators {
     bottom: 0;
}

.carousel-control.right,
.carousel-control.left {
     background-image: none;
}

.carousel-item {
     min-height: 350px;
     height: 100%;
     width: 100%;
}

.carousel-caption h3:first-child {
     animation-delay: 1s;
}

.carousel-caption h3:nth-child(2) {
     animation-delay: 2s;
}

.carousel-caption h3:nth-child(3) {
     animation-delay: 3s;
}

.carousel-caption button {
     animation-delay: 4s;
}

.cuplle .read_more {
     float: left;
     border: none;
}

.cuplle .read_more:focus {
     box-shadow: none;
}

.cuplle h3 {
     padding: 0;
     font-size: 63px;
     line-height: 70px;
     color: #fff;
     font-weight: bold;
     text-align: left;
}

.carousel .icon-container {
     display: inline-block;
     font-size: 25px;
     line-height: 25px;
     padding: 1em;
     text-align: center;
     border-radius: 50%;
}

.carousel-caption button {
     border-color: #00bfff;
     margin-top: 1em;
}

.slider_main .carousel-indicators {
     display: none;
}

#carouselExampleIndicators .carousel-control-prev,
#carouselExampleIndicators .carousel-control-next {
     width: 70px;
     height: 70px;
     background-color: #ffffff;
     color: #000000;
     font-size: 35px;
     opacity: 1;
     border-radius: 50px;
}

#carouselExampleIndicators .carousel-control-prev {
     top: 25%;
     left: inherit;
     right: 8%;
}

#carouselExampleIndicators .carousel-control-next {
     top: 47%;
     right: 10%;
}

#carouselExampleIndicators .carousel-control-next:focus,
#carouselExampleIndicators .carousel-control-next:hover,
#carouselExampleIndicators .carousel-control-prev:focus,
#carouselExampleIndicators .carousel-control-prev:hover {
     background-color: #ff0000;
     color: #fff;
}



/**  inner page css **/

.inner_page .header {
     box-shadow: 0px 0px 6px 0px #fbc50a;
     margin-bottom: 10px;

}

.inner_page .full_bg {
height: 176px;
background:#021626db;
}

.inner_page .logo {
     text-align: center;
}


.pa_top80 {
     padding-top: 80px !important;
}

.inner_page .about {
     padding-bottom:80px;
}